.backButton{
    padding: var(--small-Gap);
    background-color: var(--bg-super-light);
    color: var(--text);
    flex-shrink: 0;
    text-decoration: none;
}
.backButton:hover{
    border-color: var(--border-hover-color);
    cursor: pointer;
}
.topicTitle {
    flex: 1;
    text-align: center;
    font-size: 2.5rem;
}
.searchContainer::after{
    content: '';
    padding: var(--small-Gap);
    width: 2.5rem;
    flex-shrink: 0;
}