.backButton{
    padding: var(--small-Gap);
    background-color: var(--bg-lightest);
    color: var(--text);
    flex-shrink: 0;
    text-decoration: none;
    box-shadow: var(--shadow-m);
}

.backButton:hover{
    border-color: var(--primary);
    cursor: pointer;
    box-shadow: var(--shadow-l);
}

.topicTitle {
    flex: 1;
    text-align: center;
    font-size: 2.5rem;
}

.searchContainer::after{
    content: '';
    padding: var(--small-Gap);
    width: 2.5rem;
    flex-shrink: 0;
}