.postDescription{
    height: 20rem;
    flex-shrink: 0;
    background-color: var(--bg);
    color: var(--text-muted);
    border-radius: 1rem;
    border: var(--border-size) var(--border-color) var(--border-style); 
    text-align: center;
    margin-bottom: var(--small-Gap);
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 10rem;
    scrollbar-width: thin;
    scrollbar-color: var(--text-muted) transparent;
}
.postDescription p{ /*remember to add breakpoints with media queries later*/
    font-size: 1.2rem;    
    text-align: justify; 
    text-justify: inter-word;     
    line-height: 1.7;      
    margin: var(--tiny-Gap) var(--tiny-Gap) 0 var(--tiny-Gap);
}
.postDescription::-webkit-scrollbar {
    width: 0.1rem;
}
.postDescription::-webkit-scrollbar-track{
    background: transparent;
}
.topicResults {
    min-height: 2.5rem;
    height: auto;
}
